<footer class="footer" style="background-image: url('{{ ASSETS_ROOT_WEBSITE }}/website/assets/images/footer-bg.png')">
    <div class="container">

      <div class="footer-top">

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">أفضل وجهة</p>
          </li>

          <li>
            <a href="#" class="footer-link">مكة</a>
          </li>

          <li>
            <a href="#" class="footer-link">جزر المالديف ، ماليه</a>
          </li>

          <li>
            <a href="#" class="footer-link">أستراليا ، كانبرا</a>
          </li>

          <li>
            <a href="#" class="footer-link">Thailand, Bangkok</a>
          </li>

          <li>
            <a href="#" class="footer-link">Morocco, Rabat</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">فئات</p>
          </li>

          <li>
            <a href="#" class="footer-link">الحج</a>
          </li>

          <li>
            <a href="#" class="footer-link">العمرة</a>
          </li>

          <li>
            <a href="#" class="footer-link">السياحة</a>
          </li>

          <li>
            <a href="#" class="footer-link">العلاج</a>
          </li>

          <li>
            <a href="#" class="footer-link">البعثة</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">روابط سريعة</p>
          </li>

          <li>
            <a href="#" class="footer-link">من نحن</a>
          </li>

          <li>
            <a href="#" class="footer-link">اتصال</a>
          </li>

          <li>
            <a href="#" class="footer-link">استعلام</a>
          </li>

          <li>
            <a href="#" class="footer-link">طرق الحجز</a>
          </li>

          <li>
            <a href="#" class="footer-link">البنود و الظروف</a>
          </li>

        </ul>

        <div class="footer-list">

          <p class="footer-list-title">احصل على النشرة الإخبارية</p>

          <p class="newsletter-text">
            للحصول على أحدث الصفقات والنصائح ، لا تسافر إلى أبعد من صندوق الوارد الخاص بك
          </p>

          <form action="" class="newsletter-form">
            <input type="email" name="email" required placeholder="الإميل" class="newsletter-input">

            <button type="submit" class="btn btn-primary">اشتراك</button>
          </form>

        </div>

      </div>

      <div class="footer-bottom">

        <a href="#" class="logo">الغزالي</a>

        <p class="copyright">
          &copy; <label id="yearscopy"></label> .كل الحقوق محفوظة لدى
          <a href="https://wa.me/96775328159" class="copyright-link">codeview</a></p>
<script >
  var today = new Date();
  var yyyy = today.getFullYear();
  var yearscopy=document.getElementById("yearscopy");
  yearscopy.innerText=yyyy;
</script>
        <ul class="social-list">
            <li>
                <a href="https://wa.me/message/YZKSU2H6AZPPO1" target="_blank" class="social-link">
                    <ion-icon name="logo-whatsapp"></ion-icon>
                </a>
              </li>
          <li>
            <a href="https://www.facebook.com/people/%D9%85%D9%83%D8%AA%D8%A8-%D8%A7%D9%84%D8%BA%D8%B2%D8%A7%D9%84%D9%8A/100084117776240/" target="_blank" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://twitter.com/alghazaliye" target="_blank" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/alghazali.2022/" target="_blank" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

      

          <li>
            <a href="https://maps.app.goo.gl/vY6jrDQunTdzxtWa9" target="_blank" class="social-link">
              <ion-icon name="map-outline"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </div>
  </footer>
